<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="bg-blue-500">
    <ul class="flex items-center justify-between p-4">
        <li>
            <a th:href="@{/}" class="text-white font-bold">Home</a>
        </li>
        <li>
            <a th:href="@{/students}" class="text-white hover:underline">Students</a>
        </li>
        <li>
            <a th:href="@{/students/create}" class="text-white hover:underline">Create Student</a>
        </li>
        <li>
            <a th:href="@{/logout}" class="text-white hover:underline">Logout</a>
        </li>
    </ul>
</nav>
<h1 class="text-4xl font-bold text-center mt-8">Welcome to the Student Management System</h1>
</body>
</html>
