<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Student</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="bg-blue-500">
  <ul class="flex items-center justify-between p-4">
    <li>
      <a th:href="@{/}" class="text-white font-bold">Home</a>
    </li>
    <li>
      <a th:href="@{/students}" class="text-white hover:underline">Students</a>
    </li>
    <li>
      <a th:href="@{/students/create}" class="text-white hover:underline">Create Student</a>
    </li>
    <li>
      <a th:href="@{/logout}" class="text-white hover:underline">Logout</a>
    </li>
  </ul>
</nav>

<!-- Edit Student Form -->
<h1 class="text-2xl font-bold text-center mt-8">Edit Student</h1>
<form th:action="@{/students/{id}/edit(id=${student.id})}" th:object="${student}" method="post" class="max-w-md mx-auto mt-8">
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="border rounded w-full py-2 px-3" required>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="border rounded w-full py-2 px-3" required>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" class="border rounded w-full py-2 px-3" required>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="semestersRegistered">Semesters Registered:</label>
    <input type="number" id="semestersRegistered" name="semestersRegistered" th:field="*{semestersRegistered}" class="border rounded w-full py-2 px-3" required>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="tuitionFeePerSemester">Tuition Fee Per Semester:</label>
    <input type="number" id="tuitionFeePerSemester" name="tuitionFeePerSemester" th:field="*{tuitionFeePerSemester}" class="border rounded w-full py-2 px-3" required>
  </div>
  <div class="flex items-center justify-between">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
    <a th:href="@{/students}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Cancel</a>
  </div>
</form>
</body>
</html>
