<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student List</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="bg-blue-500">
  <ul class="flex items-center justify-between p-4">
    <li>
      <a th:href="@{/}" class="text-white font-bold">Home</a>
    </li>
    <li>
      <a th:href="@{/students}" class="text-white hover:underline">Students</a>
    </li>
    <li>
      <a th:href="@{/students/create}" class="text-white hover:underline">Create Student</a>
    </li>
    <li>
      <a th:href="@{/logout}" class="text-white hover:underline">Logout</a>
    </li>
  </ul>
</nav>

<form class="flex items-center justify-center mt-8" th:action="@{/students/search}" method="GET">
  <input class="border rounded-l py-2 px-3" type="text" id="studentId" name="studentId" placeholder="Search by ID" required>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r" type="submit">Search</button>
</form>

<h1 class="text-2xl font-bold text-center mt-8">Student List</h1>
<table class="w-full mt-8">
  <thead>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">ID</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">First Name</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">Last Name</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">Email</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">Semesters Registered</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">Tuition Fee Per Semester</th>
    <th class="py-2 px-4 bg-blue-500 text-white" scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students}">
    <th class="py-2 px-4 border" scope="row">[[${student.id}]]</th>
    <td class="py-2 px-4 border">[[${student.firstName}]]</td>
    <td class="py-2 px-4 border">[[${student.lastName}]]</td>
    <td class="py-2 px-4 border">[[${student.email}]]</td>
    <td class="py-2 px-4 border">[[${student.semestersRegistered}]]</td>
    <td class="py-2 px-4 border">[[${student.tuitionFeePerSemester}]]</td>
    <td class="py-2 px-4 border">
      <a th:href="@{/students/{id}/edit(id=${student.id})}" class="text-blue-500 hover:underline">Edit</a>
      <a th:href="@{/students/{id}/delete(id=${student.id})}" class="text-red-500 hover:underline ml-2" >Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
