<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Details</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="bg-blue-500">
  <ul class="flex items-center justify-between p-4">
    <li>
      <a th:href="@{/}" class="text-white font-bold">Home</a>
    </li>
    <li>
      <a th:href="@{/students}" class="text-white hover:underline">Students</a>
    </li>
    <li>
      <a th:href="@{/students/create}" class="text-white hover:underline">Create Student</a>
    </li>
    <li>
      <a th:href="@{/logout}" class="text-white hover:underline">Logout</a>
    </li>
  </ul>
</nav>

<!-- Student Details -->
<h1 class="text-2xl font-bold text-center mt-8">Student Details</h1>
<table class="w-full mt-8">
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">ID</th>
    <td class="py-2 px-4 border">[[${student.id}]]</td>
  </tr>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">First Name</th>
    <td class="py-2 px-4 border">[[${student.firstName}]]</td>
  </tr>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">Last Name</th>
    <td class="py-2 px-4 border">[[${student.lastName}]]</td>
  </tr>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">Email</th>
    <td class="py-2 px-4 border">[[${student.email}]]</td>
  </tr>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">Semesters Registered</th>
    <td class="py-2 px-4 border ">[[${student.semestersRegistered}]]</td>
  </tr>
  <tr>
    <th class="py-2 px-4 bg-blue-500 text-white">Tuition Fee Per Semester</th>
    <td class="py-2 px-4 border">[[${student.tuitionFeePerSemester}]]</td>
  </tr>
</table>
</body>
</html>
